body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.quiz-container {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.question-container {
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.timer-container {
    margin: 10px 0;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result-container {
    margin-top: 20px;
    font-weight: bold;
}
.notes-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.note-input-container input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.note-input-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.note-input-container button:hover {
    background-color: #0056b3;
}



.note-list {
    list-style: none;
    padding: 0;
}

.note-list li {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    width: 150px; 
    height: 150px; 
    text-align: left;
    position: relative;
}

.note-list li .note-text {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 40px; 
}

.note-list li button {
    position: absolute;
    bottom: 10px; 
    left: 10px;
    right: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}
